{% extends "base.html" %}
{% from "generic/breadcrumbs.html" import parent_list %}
{% from "generic/form.html" import render_form, render_field %}

{% block style %}
    <style>
img {
    width: 100% !important;
}

p#preview {
    height: 100%;
    min-height: 75px;
}

textarea {
    resize: vertical;
}
    </style>
{% endblock %}

{% block content %}
    {{ parent_list(thread, "Forum", "forum.index") }}

    <h1>{{ thread.title }}</h1>

    {% for post in thread.posts.order_by(Post._timestamp) %}
        <div class="row" id="post-{{ post.id }}">
            <div class="col-sm-2">
                <img class="img-thumbnail" src="{{ post.author.picture }}" />
            </div>
            <div class="col-sm-10">
                {{ post.text|markdown|safe }}
            </div>
        </div>
        <hr>
    {% endfor %}

    {% if not thread.is_locked %}
        {% call render_form(form) %}
            {{ render_field(form.text) }}
            <div class="form-group">
                <label class="control-label" for="preview">Preview</label>
                <p data-url="{{ url_for("api.markdown") }}" disabled="disabled" class="form-control" id="preview"></p>
            </div>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block script %}
    <script>
    var text = $("#text");
    var preview = $("#preview");

    text.keyup(function () {
        $.ajax(preview.attr("data-url"), {
            method: "POST",
            data: {text: text.val()}
        }).fail(function (result) {
            console.error(result.status, result)
        }).done(function(result) {
            preview.html(result.html)
        })
    })
    </script>
{% endblock %}